body {
  background-color: #143d59;
  color: #f4b41a;
  font-family: 'Roboto', sans-serif;
}


/* Buttons */

/* Style of button which activates Collapsible */
button.hiddenMessage {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #a3a3a3;
  border: 4px solid #008CBA;
  color: #143d59;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
}
/* Stops button from getting an outline */
button:focus { 
  outline: none; 
}


/* Article */

/* Style of hidden Message */
article#hiddenMessage {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #f4b41a;
  color: #143d59;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
}

.content {
  margin: auto;
  max-width: 1000px;
}
