body {
	/* dev
	height:2000px; */
  font-family: 'Roboto', sans-serif;
	padding-bottom: 70px;
}

.header{
	text-align: center;
}

/* Style for navbar */
.mobile-bottom-nav {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	/* give nav it's own compsite layer */
	will-change:transform;
	transform: translateZ(0);
	
	display: flex;	
	
	height: 70px;
	
	box-shadow: 0 -2px 5px -2px #333;
	background-color: #fff;
}
.navbutton {
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}