body {
  font-family: 'Roboto', sans-serif;
}
html {
	max-width: 4024px;
}
/* Style of the first header */
.header{
	text-align: center;
}
/* Stundenplan */
.plan {
	width: 90%;
}


/* Style for navbar */
.navbar {
  overflow: hidden;
  background-color: #3b3b3b;
	color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  background-color: #3b3b3b;
	color: #000;
  float: left;
  display: block;
  text-align: center;
  padding: 5px;
	border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #3b3b3b;

}

.navbar a.active {
  background-color: #04AA6D;
  color: ;
}