body {
	/* dev
	height:2000px; */
  font-family: 'Roboto', sans-serif;
	padding-bottom: 70px;
}
html {
	max-width: 1024px;
}
/* Style of the first header */
.header{
	text-align: center;
}
/* Stundenplan */
.plan {
	width: 90%;
}
/* Style for navbar */
.mobile-bottom-nav {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	/* give nav it's own compsite layer */
	will-change:transform;
	transform: translateZ(0);
	
	display: flex;	
	
	height: 70px;
	/* Colors */
	color: #000;
	box-shadow: 0 -2px 5px -2px #333;
	background-color: #fff;
}
.navbutton {
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}
.navbutton:hover {
	background-color: #333333;
}